<!doctype html>
<html lang="en" ng-app="DublinBusTrackerApp">
  <head>
    <title>Dublin Bus Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="/bower_components/bootstrap-drawer/dist/css/bootstrap-drawer.min.css">
    <link rel="stylesheet" href="/bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css">

    <link rel="stylesheet" href="css/main.css">
  </head>
  
  <body class="has-drawer">
    <div id="drawerExample" class="drawer dw-xs-10 dw-sm-6 dw-md-2 fold" ng-class="{open: isSettingsOpen}" ng-init="isSettingsOpen = false" aria-labelledby="drawerExample">
      <div class="drawer-controls">
        <a href="#drawerExample" data-toggle="drawer" href="#drawerExample" aria-foldedopen="false" aria-controls="drawerExample" class="btn btn-default"><i class="fa fa-bars"></i></a>
      </div>
      <div class="drawer-contents">
        <div class="drawer-heading">
          <h2 class="drawer-title"><i class="fa fa-wrench"></i> Settings</h2>
        </div>
        <div class="drawer-body" ng-controller="MenuController">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="inputStopId" class="col-sm-6 control-label">Stop ID:</label>
              <div class="col-sm-6">
                <input type="text" ng-model="$storage.stopId" class="form-control" id="inputStopId" ng-model-options="{ updateOn: 'blur' }" placeholder="" required>
              </div>
            </div>
            <div class="form-group">
              <label for="inputBusName" class="col-sm-6 control-label">Bus name:</label>
              <div class="col-sm-6">
                <input type="text" ng-model="$storage.busName" class="form-control" id="inputBusName" ng-model-options="{ updateOn: 'blur' }" placeholder="" required>
              </div>
            </div>
            <div class="form-group">
              <label for="inputWarningTime" class="col-sm-6 control-label">Warn if less than:</label>
              <div class="col-sm-6">
                <input type="number" ng-model="$storage.warningTime" class="form-control" id="inputWarningTime" placeholder="">
              </div>
            </div>
            <div class="form-group">
              <label for="inputEnableAudio" class="col-sm-6 control-label">Enable audio:</label>
              <div class="col-sm-6">
                <div class="checkbox">
                  <input type="checkbox" id="inputEnableAudio" ng-model="$storage.isAudioEnabled">
                  <label for="inputEnableAudio"></label>
                </div>
              </div>
            </div>
            <div class="alert alert-danger" role="alert" ng-if="!isConnected">You are offline.</div>
          </form>
        </div>
      </div>
    </div>
    <div class="container-fluid" ng-controller="MainController">
      <div class="circle" ng-class="{ green: isConnected, red: !isConnected }"></div>
      <div class="row" ng-cloak>
        <h1 ng-class="{ 'alert-danger': isRunningOutOfTime }"  countdown="nextBus.expectedWait">{h}<small>H</small> {m}<small>M</small> {s}<small>S</small></h1>
        <h2><small>Next {{$storage.busName}} to {{$storage.stopId}}</small></h2>
        <h2 ng-repeat="otherBus in otherBuses" countdown="otherBus.expectedWait">{h}<small>H</small> {m}<small>M</small></h2>
        <h2 ng-if="otherBuses.length===0">None</h2>
      </div>
    </div>
    
    <script src="/socket.io/socket.io.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-animate.min.js"></script>

    <script src="/bower_components/moment/min/moment.min.js"></script>
    <script src="/bower_components/bootstrap-drawer/dist/js/drawer.min.js"></script>
    <script src="/bower_components/angular-audio/app/angular.audio.js"></script>
    <script src="/bower_components/ngstorage/ngStorage.min.js"></script>
    <script src="/bower_components/angular-socket-io/socket.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers/main.js"></script>
    <script src="js/controllers/menu.js"></script>
    <script src="js/directives/countdown.js"></script>

  </body>
</html>
