[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.container-fluid {
    padding-top: 40px;
}
.container-fluid h1, .container-fluid h2 {
    text-align: center;
}
.container-fluid h1 {
    font-size: 20vw;
}
.container-fluid h2 {
    font-size: 4vw;
}